@use './element.scss' as *;
@use './element-dark.scss' as *;
@use './main.scss' as *;
@use './main1.scss' as *;
@use './preflight.scss' as *;

// 全局样式重置
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    height: 100%;
}
